@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html{
    background-color: #000;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .login {
    background-image: url("./images/StreamHaven\ Cover.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
